html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.live-event-container{
    margin-bottom: 20px;
  
}
  
/* styling for the video player */
.video-player{
  width: 100%;
  height: 100%;
}


/* styling for the overlay */

.video-overlay{
  width: 640px;
  height: 360px;
  position: absolute;
  top: 18.5%;
  bottom: 0;
  color: #fff;
  font-family: 'Nunito Sans', sans-serif;
  text-align: center;
}

.reset-button{
  width: 250px;
  height: 30px;
  border-radius: 5px;
  background-color: #111;
  outline: none;
  color: #fff;

}